@import 'fonts/proxima';

// Colors

$brand-color-1: #959737;
$brand-color-2: #e1e179;

$brand-primary: $brand-color-1;

$text-color: #606060;

$link-color: $brand-color-1;
$link-hover-decoration: none;

// type
$line-height-base: 1.5;

// fonts
$font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-open-sans;

// navbar
$navbar-height: 100px;
$navbar-margin-bottom: 20px;

$navbar-inverse-bg: transparent;
$navbar-inverse-color: #fff;
$navbar-inverse-border: transparent;

$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-hover-color: $brand-color-2;

$navbar-inverse-link-active-color: $brand-color-2;

$navbar-inverse-toggle-hover-bg:            transparent !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        transparent !default;

// forms
$input-border-radius: 0;
$input-height-base: 45px;

// buttons
$btn-default-color: #fff;
$btn-default-bg: #606060;
$btn-default-border: #606060;

$btn-border-radius-base: 38px;
$btn-border-radius-large: 48px;
$btn-border-radius-small: 33px;