.site-header{
    .breadcrumbs{
        margin-bottom: 10px;
        @include font-size(0.8125);
        font-style: italic;
        color: #e3e2e2;
        a{
            color: #e3e2e2;
            &:hover, &:focus{
                color: $link-color;
            }
        }
    }
}