.mtalents-contact-form{
    @include font-size(0.875);
    .form-group{
        margin-bottom: 30px;
    }
    select, textarea, input[type="text"], input[type="email"]{
        @include placeholder(#606060);
        @include box-shadow(none);
    }
    .wpcf7-captchar{
        display: inline-block;
        width: 300px;
        max-width: 70%;
    }
    span.wpcf7-not-valid-tip{
        margin-top: 3px;
        font-size: 90%;
        color: $brand-danger;
    }
    button[type="submit"]{
        min-width: 180px;
        padding: 8px 20px;
        border-radius: 40px;
        font-family: $font-family-proxima-nova;
        font-weight: bold;
        background-color: #24b11d;
        border-color: #24b11d;
        color: #fff;
        @include material-shadow(2);
        @include transition(all 0.3s);
        &:hover, &:focus{
            @include material-shadow(4);
        }
        &:after{
            content: url("../images/contact-send.png");
            margin-left: 20px;
            vertical-align: middle;
        }
    }
}