.page-header{
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    .page-title{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.entry-page{
    .entry-header{

    }
    .entry-title{

    }
    .entry-meta{

    }
    .entry-thumbnail{

    }
    .entry-content{

    }
    .entry-footer{

    }
}