$screen-single-breakpoint: 992px;

.entry-single, .entry-page{
    .entry-header{
    }
    .entry-meta{
        a{
        }
    }
    .entry-thumbnail{
        img{
        }
    }
    .entry-content{
    }
    .entry-footer{

    }
    .entry-tags{
        >a{
        }
    }
}

.entry-single{
    @media(min-width: $screen-single-breakpoint){
        padding: 0 50px;
    }
    .entry-inner{
        background-color: #fafafa;
        text-align: initial;
    }
    .entry-thumbnail{
        @media(min-width: $screen-single-breakpoint){
            margin: 0 -50px;
        }
    }
    .entry-header{
        margin-bottom: 25px;
    }
    .entry-title{

    }
    .entry-meta{

    }
    .entry-content{

    }
    .entry-footer{

    }
    .post-edit-link{
        @media(min-width: $screen-single-breakpoint){
            right: -51px;
        }
    }
}