$submenu-width: 230px !default;
$submenu-padding: 5px 0 0 !default;

$submenu-link-padding: 10px 15px !default;
$submenu-link-padding-sm: 10px 15px !default;
$submenu-link-decoration: none !default;
$submenu-link-color: #070707 !default;
$submenu-link-color-hover: $link-color !default;
$submenu-link-bg-hover: transparent !default;

.mbtheme-navbar-nav{
    ul.sub-menu{
        display: none;
        //display: block;
	@include font-size(0.9375);
        @media(min-width: $grid-float-breakpoint){
            position: absolute;
            left: 0;
            width: $submenu-width;
            margin: 0;
            background-color: #fff;
            @include material-shadow(1);
            z-index: $zindex-dropdown;
        }
        padding: $submenu-padding;
        list-style: none;
        >li{
            >a{
                display: block;
                padding: $submenu-link-padding;
		border-bottom: solid 1px #eee;
		color: $submenu-link-color;
                text-decoration: $submenu-link-decoration;
                &:hover, &:focus{
                    background-color: $submenu-link-bg-hover;
                    color: $submenu-link-color-hover;
                }
                @media(max-width: $grid-float-breakpoint-max){
                    line-height: $line-height-computed;
                    padding: $submenu-link-padding-sm;
                    padding-left: 25px;
		    border-bottom: none;
		    color: #fff;
		    &:hover, &:focus{
			color: $brand-color-2;
		    }
		    &.current-menu-item{
			color: $brand-color-2;
		    }
                }
            }
	    &.current-menu-item>a{
		color: $brand-color-1;
	    }
        }
        @media(min-width: $grid-float-breakpoint){
            display: none !important;
        }
    }
}

// navbar-right
.navbar-right.mbtheme-navbar-nav{
    li.menu-item-has-children{
        >ul.sub-menu{
            left: auto;
            right: 0;
        }
    }
}

// show sub menu
.mbtheme-navbar-nav{
    li.menu-item-has-children{
        position: relative;
        &:hover{
            @media(min-width: $grid-float-breakpoint){
                >a{
                    background-color: $navbar-default-link-active-bg;
                    color: $navbar-default-link-active-color;
                }
                >ul.sub-menu{
                    display: block !important;
                }
            }
        }
    }
}

// arrow
.mbtheme-navbar-nav li.menu-item-has-children > a{
    >.sub-menu-arrow:after{
        content: "\f107";
        @include fa;
        margin-left: 5px;
    }
    @media(max-width: $grid-float-breakpoint-max){
        padding-right: 60px;
        >.sub-menu-arrow{
            &:after{
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                margin: 0;
                padding: 10px 0;
                text-align: center;
                line-height: $line-height-computed;
                font-size: 120%;
                background-color: rgba(0,0,0,0.3);
            }
            &:hover, &:focus{
                &:after{
                    background-color: rgba(0,0,0,0.5);
                }
            }
        }
    }
}  

// level 3
.mbtheme-navbar-nav{
    ul.sub-menu li.menu-item-has-children > a{
        >.sub-menu-arrow:after{
            @media(min-width: $grid-float-breakpoint){
                content: "\f105";
            }
        }        
    }
    ul.sub-menu li.menu-item-has-children > ul.sub-menu{
        right: auto;
        left: 100%;
        top: 0;
        li >a{
            @media(max-width: $grid-float-breakpoint-max){
                padding-left: 35px;
            }
        }
    }
}
// level 3 - navbar-right
.navbar-right.mbtheme-navbar-nav{
    ul.sub-menu li.menu-item-has-children > ul.sub-menu{
        right: 100%;
        left: auto;
    }
}

@-webkit-keyframes submenuFadeInRight {
    0% {
	opacity: 0;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
    }

    100% {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
    }
}

@keyframes submenuFadeInRight {
    0% {
	opacity: 0;
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
    }

    100% {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
    }
}

// animation
.mbtheme-navbar-nav{
    ul.sub-menu{
	@media(min-width: $grid-float-breakpoint){
	    -webkit-animation-name: submenuFadeInRight;
	    animation-name: submenuFadeInRight;
	    -webkit-animation-duration: 0.3s;
	    animation-duration: 0.3s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}
    }
}