.mtalents-simple-panel{
    width: 350px;
    max-width: 100%;
    margin: 0 auto 25px;
    padding: 40px 30px;
    background-color: #f7f9f9;
    border-bottom: solid 4px transparent;
    &-icon{
        margin-bottom: 20px;
    }
    &-title{
        margin-bottom: 20px;
        color: #313030;
        @include font-size(1.25);
    }
    &-content{
        
    }
}